/**
 * @author Manuel Zarat
 */

@charset "utf-8";
@font-face {
    font-family: 'Sans Serif';
    font-style: normal;
    font-weight: 400;
}
html, body {
    padding:0;
    margin:0;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size: 18px;
}
div{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
a { color:rgb(66,139,202);}
/**
 * MIN 1000px
 *
 */
@media only screen and (min-width:1200px) {
    /** 
     * Main
     *
     */
    .sp-main-wrapper{
        width:1200px;
        margin:0px auto;
    }
    .sp-main-header{
    }
    .sp-main-header-logo{
        padding:10px;
    }
    /**
     * Content
     * 
     */
    .sp-content {
         width:850px;
         float:left;         
    }
    .sp-content-item {
        padding:10px;
    }
    .sp-content-item-head {
         padding:10px;
         font-size:24px;
    }
    .sp-content-item-head-secondary {        
         padding:10px;
         color:grey;
    }
    .sp-content-item-body {
         padding:10px;
    }
    /**
     * SIDEBAR 
     * 
     */
    .sp-sidebar{
         width:350px;
         float:left;
    }
    .sp-sidebar-item{        
        padding:10px;
    }
    .sp-sidebar-item-head{
        padding:10px;
        font-size:24px;
    }
    .sp-sidebar-item-body{
        padding:10px;
    }
    /**
     * Footer
     * 
     */
    .sp-footer{
        display:block;
    }
}

/* MIN 1000px ENDE */


/* MAX 1000px */
 @media only screen and (max-width:1200px){
    /**
     * Main
     * 
     */
    .sp-main-wrapper{
        width:100%;
    }
    .sp-main-header{
    }
    .sp-main-header-logo{
        padding:10px;
    }
    .sp-admin-content {
         padding:10px;
    }
    /**
     * Content
     * 
     */
    .sp-content {
         width:100%;         
    }
    .sp-content-item {
        padding:10px;
    }
    .sp-content-item-head {
         padding:10px;
         font-size:24px;
    }
    .sp-content-item-head-secondary {        
         padding:10px;
         color:grey;
    }
    .sp-content-item-body {
         padding:10px;
    }
    /**
     * SIDEBAR 
     * 
     */
    .sp-sidebar{
         width:100%;
    }
    .sp-sidebar-item{        
        padding:10px;
    }
    .sp-sidebar-item-head{
        padding:10px;
        font-size:24px;
    }
    .sp-sidebar-item-body{
        padding:10px;
    }
    /**
     * Footer
     * 
     */
    .sp-footer{
        display:block;
    }
}

/* MAX 1000px ENDE */

input[type=text] {
     width: 100%;
     padding:5px;
     -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
     box-sizing: border-box;
    /* Opera/IE 8+ */
}
textarea {
     width: 100%;
     padding:5px;
     -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
     box-sizing: border-box;
    /* Opera/IE 8+ */
}
input[type=submit] {
     float:right;
     padding:5px 15px;
     background:#ccc;
     border:0 none;
     cursor:pointer;
     -webkit-border-radius: 5px;
     border-radius: 5px;
}
