/**
 * Simplepress Default Stylesheet
 * 
 * @author Manuel Zarat
 * 
 */
 
/**
 * Document styling
 * 
 */
@charset "utf-8";
@font-face {
    font-family: 'Sans Serif';
    font-style: normal;
    font-weight: 400;
}
html, body {
    padding:0;
    margin:0;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a { 
    color:rgb(0,116,217); 
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

/**
 * Responive styles 
 * 
 */

/**
 * MIN 1000px
 *
 */
@media only screen and (min-width:1000px) {

    /** 
     * Main
     *
     */
    .sp-main-wrapper{width:1000px;margin:0px auto;box-shadow: 0 0 2px 2px silver;}
    
    .sp-main-header{}    
    .sp-main-header-logo{padding:10px;}
    
    /**
     * Content
     * 
     */    
    .sp-content {width:800px;float:left;}        
    .sp-content-item {padding:10px;}    
    .sp-content-item-head {font-size:20px;border-bottom:1px solid silver;margin-bottom:10px;}    
    .sp-content-item-body {}
    
    /**
     * SIDEBAR 
     * 
     */
    .sp-sidebar{width:200px;float:left;}    
    .sp-sidebar-item{padding:10px;}    
    .sp-sidebar-item-head{font-size:20px;border-bottom:1px solid silver;margin-bottom:10px;}    
    .sp-sidebar-item-body{}
    
    /**
     * Footer
     * 
     */
    .sp-footer{background:#f2f2f2;display:block;box-shadow: 0 0 2px 2px silver;}
    
}
/* MIN 1000px ENDE */




/* MAX 1000px */
 @media only screen and (max-width:1000px){
 
    /**
     * Main
     * 
     */
    .sp-main-wrapper{width:90%;margin:0px auto;box-shadow: 0 0 2px 2px silver;}
    .sp-main-header{}    
    .sp-main-header-logo{padding:10px;}
    
    /**
     * Content
     * 
     */
    .sp-content {width:100%;float:left;}
    .sp-content-item {padding:10px;}  
    .sp-content-item-head {font-size:20px;border-bottom:1px solid silver;margin-bottom:10px;}        
    .sp-content-item-body {}
    
    /**
     * Sidebar
     * 
     */
    .sp-sidebar{width:100%;float:left;}    
    .sp-sidebar-item{padding:10px;}
    .sp-sidebar-item-head{font-size:20px;border-bottom:1px solid silver;margin-bottom:10px;}    
    .sp-sidebar-item-body{}
    
    /**
     * Footer
     * 
     */
    .sp-footer{background:#f2f2f2;display:block;box-shadow: 0 0 2px 2px silver;}
    
}

/* MAX 1000px ENDE */

input[type=text] {
     width: 100%;
     padding:5px;
     -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
     box-sizing: border-box;
    /* Opera/IE 8+ */
}
textarea {
     width: 100%;
     padding:5px;
     -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
     box-sizing: border-box;
    /* Opera/IE 8+ */
}
input[type=submit] {
     float:right;
     padding:5px 15px;
     background:#ccc;
     border:0 none;
     cursor:pointer;
     -webkit-border-radius: 5px;
     border-radius: 5px;
}
